// =============================================
// Base Font
// =============================================
// $aktiv : "aktiv-grotesk",sans-serif;

// =============================================
// font weights for open sans
// =============================================
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// =============================================
// Base Colors
// =============================================
$white: #ffffff;
$black: #000000;
$red: #ee1e19;
